{% extends 'buildings/base.html' %}
{% block title %}
home page
{% endblock %}
{% block content %}
<main>
    <section>
        <article>Article 1</article>
        <article>Article 2</article>
        <article>Article 3</article>
    </section>
    <aside>
        <p>
            According to Mozilla's website,
            <q cite="https://www.mozilla.org/en-US/about/history/details/"> Firefox 1.0 was released in 2004 and became a big success.</q>
        </p>
        <table>
            <caption>Group A</caption>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Nationality</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Philip</td>
                    <td>26</td>
                    <td>Kenyan</td>
                </tr>
                <tr>
                    <td>Maria</td>
                    <td>25</td>
                    <td>Russian</td>
                </tr>
                <tr>
                    <td>Ronah</td>
                    <td>28</td>
                    <td>Columbia</td>
                </tr>
            </tbody>
        </table>
    </aside>
</main>
{% endblock %}